@import "tailwindcss";

@theme {
  /* On définit les couleurs Leelou ici pour la v4 */
  --color-leelou: #f0463c;
  --color-leelou-soft: #fff5f4;
  --color-leelou-cream: #fffbf9;
  --color-leelou-dark: #d63a32;

  /* Polices */
  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-outfit), sans-serif;
}

:root {
  --background: var(--color-leelou-cream);
  --foreground: var(--color-leelou);
}

/* IMPORTANT : On supprime ou on commente le bloc (prefers-color-scheme: dark) 
   pour éviter que le site devienne noir tout seul 
*/

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}